substitutions:
  device_name: rc-bedroom-ac
  device_name_short: bd
  wifi_ssid: !secret wifi_ssid
  wifi_pass: !secret wifi_pass
  ota_pw: !secret ota_pw
  api_key: !secret api_key  # Must be base64 encoded, 32 characters long
  web_server_user: !secret web_server_user
  web_server_pass: !secret web_server_pass
  syslog_ip: !secret syslog_ip

esphome:
  name: $device_name
  comment: $device_name

esp32:
  board: esp32dev
  framework: 
    type: arduino
    
wifi:
  networks:
  - ssid: $wifi_ssid
    password: $wifi_pass

web_server:
  port: 80
  auth:
    username: $web_server_user
    password: $web_server_pass

api:
  encryption:
    key: $api_key
  
ota:
  - platform: esphome
    password: !secret ota_pw

logger:
  level: VERBOSE

# syslog IP
udp:
  addresses: $syslog_ip

time:
  - platform: sntp
  id: my_time
  servers:
  - 0.pool.ntp.org
  - 1.pool.ntp.org

# syslog configuration. Defaults to udp/514
syslog:
  level: VERBOSE

# connectivity to the AC unit
uart:
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600
  parity: EVEN
  rx_buffer_size: 1024

external_components:
  source:
    type: git
    url: https://github.com/beebop5/esphome-panasonic-ac
    #ref: test
  components: [panasonic_ac]
  refresh: 30s

# define select controls for the climate component
select:
  - platform: template
    name: "Panasonic AC Horizontal Swing"
    id: panasonic_ac_hswing
    options:
      - "Left"
      - "Centre Left"
      - "Centre"
      - "Centre Right"
      - "Right"
    initial_option: "Centre"
    optimistic: true

  - platform: template
    name: "Panasonic AC Vertical Swing"
    id: panasonic_ac_vswing
    options:
      - "Up"
      - "Mid Up"
      - "Mid"
      - "Mid Down"
      - "Down"
    initial_option: "Mid"
    optimistic: true

switch:
  - platform: restart
    name: "Restart"
  - platform: template
    name: "Panasonic AC NanoeX"
    id: panasonic_ac_nanoex
    restore_mode: RESTORE_DEFAULT_OFF
    optimistic: true

climate:
  - platform: panasonic_ac
    name: $device_name_short
    outside_temperature:
      name: " Outside Temp"
    horizontal_swing_select_id: panasonic_ac_hswing
    vertical_swing_select_id: panasonic_ac_vswing
    nanoex_switch_id: panasonic_ac_nanoex